.btn-filter{
  background: #0000FF;
  padding: 5px 10px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
.box-filter{
  .group{
    display: none;
  }
  &.show{
    .group{
      display: block;
    }
  }
}