<div class="mainContent">
  <form id="frmLogin">
    <div class="form-group">
      <section class="panel panel-default bg-white m-t-lg">
        <header class="panel-heading text-center"> <strong>Sign in</strong> </header>
        <form action="#" class="panel-body wrapper-lg" method="post">
            <div class="form-group">
                <label class="control-label">Username</label>
                <input placeholder="nameid1234" name="uid" class="form-control input-lg" value="" type="text">
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input id="inputPassword" name="password" placeholder="Password" value="" class="form-control input-lg" type="password">
            </div>
            <p style="color:red;"></p>
            <div class="checkbox">
                <label><input type="checkbox"> Keep me logged in </label>
            </div>
            <a href="#" class="pull-right m-t-xs"><small>Forgot password?</small></a>
            <a href="http://daily.local/index.php/admin/users/index" class="pull-right m-t-xs"><small>Member register</small>&nbsp;/&nbsp;</a>
            <button type="submit" class="btn btn-primary" id="loginBtn">Sign in</button>
        </form>
      </section>
    </div>

  </form>
</div>

